/AuctionFileHandler.class
/AuctionManager.class
/AuctionTimer.class
/Bid.class
/Category.class
/FileControl.class
/GraphicUI.class
/IOUtils.class
/User.class
/UserManager.class
/Auction.class
/TimeManager.class
/bin/
/AuctionProgram.class
/TextFileReader.class
/TextFileWriter.class
/UserInterface.class
